{% extends "hiv/base.html" %}

{% block content %}
<div id="data">
	<h1>Patient</h1>
	<h3><a href="{% url hiv.views.patient_update object.id %}">Edit</a></h3>
	Patient ID: {{ object.patient_id }}<br />
	Race: {{object.race|default_if_none:"Not Available"}} <br />
	Gender: {{ object.gender|default_if_none:"Not Available" }}<br />
	Year of Birth: {{ object.year_of_birth|default_if_none:"Not Available"  }} <br />
	Sero Positive Since: {{ object.sero_positive_since|default_if_none:"Not Available"  }} <br/>
	Lowest CD4: {{object.lowest_cd4|default_if_none:"Not Available" }} <br />
	Lowest CD4 Date: {{ object.lowest_cd4_date|default_if_none:"Not Available"  }} <br/>
	Highest Viral: {{ object.highest_viral|default_if_none:"Not Available"  }} <br/>
	Highest Viral Date: {{ object.highest_viral_date|default_if_none:"Not Available"  }} <br />


<h2> Visits:</h2>
{% for visit in object.visit_set.select_related %}
Visit ID: <a href="{% url hiv.views.visit_detail visit.id %}">{{ visit.name }}</a><br />
{% endfor %}
</div>




{% endblock %}
