{% extends "hiv/base.html" %}
{% block head %}
<!--  
This is an attempt to use the dataTables jquery 
plugin to have pretty tables for
the patient list
 -->
<script type="text/javascript" src="/site_media/js/flexigrid.js"></script>
<link rel="stylesheet" href="/site_media/css/flexigrid.css" type='text/css' />
{% endblock %}


{% block content %}
<table id="list" ></table>
<script type="text/javascript">
$('#list').flexigrid({
			url: '{%url hiv.views.ajax_patient_list %}',
			dataType: 'json',
			colModel : [
				{display: 'Name', name : 'patient_id', width : 80, sortable : true, align: 'left'},
				{display: "Gender", name: 'gender', width: 40, sortable: false, align: 'left'},
				{display: "Date of Birth", name: 'dob', width: 80, sortable: false, align: 'left'},
				{display: '# of Visits', name : 'visits', width : 50, sortable : false, align: 'left'},

				],
			buttons : [
				],
			searchitems : [
				{display: 'Name', name : 'name', isdefault: true},
				{display: "Date of Birth", name: 'dob'},
				{display: "Gender", name: 'gender'},
				{display: "Sero Positive Since", name: "sero"}
				],
			sortname: "patient_id",
			sortorder: "asc",
			usepager: true,
			singleSelect: true,
			title: 'Patients',
			useRp: true,
			rp: 15,
			showTableToggleBtn: true,
			width: 700,
			height: 200

});

</script>
{% endblock %}
