{% extends "hiv/base.html" %}
{% block head %}
<!--  
This is an attempt to use the dataTables jquery 
plugin to have pretty tables for
the patient list
 -->
<script type="text/javascript" src="/site_media/js/flexigrid.js"></script>
<link rel="stylesheet" href="/site_media/css/flexigrid.css" type='text/css' />
{% endblock %}


{% block content %}
<table id="list" ></table>
<script type="text/javascript">
$('#list').flexigrid({
			url: '{%url hiv.views.ajax_visit_list %}',
			dataType: 'json',
			colModel : [
				{display: 'Name', name : 'name', width : 180, sortable : true, align: 'left'},
				{display: "Date of Visit", name: "date", width: 180, sortable: true, align: 'left'},
				{display: "CD4", name: 'cd4', width: 50, sortable: true, align: 'left'},
				{display: "Viral", name:'viral', width: 50, sortable:true, align:'left'},
				{display: "DSG", name: 'dsg', width: 50, sortable:true, align: 'left'},
				],
			buttons : [
				],
			searchitems : [
				{display: 'Name', name : 'name', isdefault: true},
				
				],
			sortname: "name",
			sortorder: "asc",
			usepager: true,
			singleSelect: true,
			title: 'Visits',
			useRp: true,
			rp: 15,
			showTableToggleBtn: true,
			width: 700,
			height: 200

});

</script>
{% endblock %}
